{% extends "blog_app/index.html" %}
{% load static %}

{% block content_about %}
<div class="container vh-100">
    <div class="bg-white p-4 rounded-5 text-secondary shadow">
        <div class="text-center my-4">
            <img src="{% static 'blog_app/assets/image/FOTOPERFIL.png' %}" alt="Avatar" class="img-fluid rounded-circle" style="width: 300px; height: 300px;">
        </div>
        <div class="container">
            <section>
                <h1>Sobre Mí</h1>
                <p>
                    Soy Javier Ballón, un experimentado Full-Stack Developer con una sólida trayectoria en el desarrollo de sitios web de alta calidad visual y tecnológica. A lo largo de mi carrera, he demostrado ser proactivo y responsable, aplicando mis habilidades sólidas en programación y adoptando metodologías ágiles para crear soluciones escalables y eficientes. Mi capacidad para enfrentar desafíos bajo presión se combina con un entusiasmo constante por aprender y crecer. Me considero un apasionado por la innovación y siempre busco superar los límites, contribuyendo al éxito de cada proyecto en el que me involucro.
                </p>
            </section>
    
            <section>
                <h1>Sobre el Proyecto "Blog Games"</h1>
                <p>
                    Como parte de mi compromiso con la excelencia en el desarrollo web, he creado el proyecto "Blog Games". Este blog no es solo un espacio para compartir noticias y artículos sobre videojuegos, sino también una muestra de mi habilidad para crear experiencias digitales envolventes y visualmente atractivas. Desde su diseño hasta su funcionalidad, "Blog Games" refleja mi enfoque meticuloso y mi pasión por proporcionar a los usuarios una plataforma única y de calidad. ¡Bienvenido a "Blog Games", donde la tecnología y la pasión por los videojuegos se encuentran!
                </p>
            </section>
        </div>
    </div>
</div>    
{% endblock content_about %}