{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
    <h1>Artículos en la categoría {{ category.name }}</h1>
    <div class="container mt-5 pt-5">
        <div class="row">
            {% for article in articles %}
                <div class="col-12 col-md-3 my-3">
                    <div class="card text-dark efecto border-dark h-100">
                        <div class="card-body text-center text-light bg-dark h-25">
                            <p class="card-text">{{ article.title }}</p>
                        </div>
                        <div class="card-body h-50">
                            <p class="card-text">{{ article.content }}</p>
                        </div>
                        <div class="card-body text-dark">
                            {% for category in article.categories.all %}
                                <p class="badge bg-dark text-light w-25 ms-1">{{ category.name }}</p>
                            {% endfor %}
                            <a class="badge bg-info text-dark w-25 ms-auto me-1 text-decoration-none" href="{% url 'blog_app:article_detail' pk=article.id %}">Ver Mas</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between">
                            <span>{{ article.author.username }}</span>
                            <span>{{ article.date }}</span>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay artículos disponibles.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content_form %}
