{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
        <div class="d-flex justify-content-center">
            <img src="{% static 'blog_app/assets/image/add-icon.svg' %}" alt="add-icon" style="height: 7rem"/>
        </div>
        <div class="text-center fs-1 fw-bold">Add Article</div>
        <form method="post" enctype="multipart/form-data" action="{% url 'blog_app:article_created' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        
    </div>
{% endblock content_form %}