{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
    <div class="container mt-5 pt-5 vh-100">
        <div class="bg-white p-5 rounded-5 text-secondary shadow">
            <h1 class="text-center mb-3">Update Category</h1>
            <div>
                <form method="POST" action="{% url 'blog_app:category_update' pk=category.pk %}">
                    {% csrf_token %}
                    <div class="input-group mt-4">
                        <input
                            class="form-control bg-light"
                            type="text"
                            name="{{ form.name.name }}"
                            placeholder="New Name To Category"
                        />
                    </div>
                    <div>
                        <a class="btn btn-dark text-white w-100 mt-4 fw-semibold shadow-sm" href="{% url 'blog_app:category_list' %}">Back</a>
                        <button class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content_form %}
