{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
    <div class="container vh-100">
        <div class="row">
            <h1 class="text-center mb-3">Categories</h1>
            <div class="d-flex justify-content-end">
                <a class="mb-2" href="{% url 'blog_app:category_created' %}">
                    <img src="{% static 'blog_app/assets/image/add-category-icon.svg' %}" alt="add-icon" style="height: 2rem"/>
                </a>
            </div>
            {% for category in categories %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="w-75">{{ category.name }}</th>
                                <td class="d-flex justify-content-around">
                                    <a class="btn btn-primary me-2 fuente" href="{% url 'blog_app:category_update' pk=category.pk %}">Edit</a>
                                    <a class="btn btn-danger fuente" href="{% url 'blog_app:category_delete' pk=category.pk %}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% empty %}
                <p>Don't have categories.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content_form %}

