{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
<div class="container vh-100">
    <div class="bg-white p-5 rounded-5 text-secondary shadow">
        <h1 class="text-center">Add Commentary</h1>
        <form method="POST" action="{% url 'blog_app:comment_created' pk=article.pk %}">
            {% csrf_token %}
            <div class="input-group mt-4">
                <input
                    class="form-control bg-light"
                    type="text"
                    name="{{ form.content.name }}"
                    placeholder="Add Commentary"
                />
            </div>
            <div class="d-flex justify-content-end mt-2">
                <a class="btn btn-dark fuente me-2" href="{% url 'blog_app:article_detail' pk=article.pk %}">Back</a>
                <button class="btn btn-info fuente" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock content_form %}