{% extends "blog_app/index.html" %}

{% block content_form %}
    <div class="container vh-100">
        <div class="bg-white p-5 rounded-5 text-secondary shadow">
        <h1 class="text-center">Message</h1>
        
        <form action="{% url 'blog_app:message_created' %}" method="POST" class="mb-4">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">For</label>
                <select class="form-select" id="inputGroupSelect01" name="{{ form.receiver.name }}">
                    <option selected>Choose...</option>
                    {% for user in form.receiver %}
                        <option value="{{ user.pk }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mt-4">
                <input
                    class="form-control bg-light"
                    type="text"
                    name="{{ form.message.name }}"
                    placeholder="Message"
                />
            </div>
            <div class="d-flex justify-content-end mt-2">
                <a class="btn btn-dark me-1 fuente" href="{% url 'blog_app:message_list' %}">Back</a>
                <button class="btn btn-info fuente" type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock content_form %}