{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
    <div class="container vh-100">
        <div class="bg-white p-5 rounded-5 text-secondary shadow">
            <h1 class="text-center">Update Profile</h1>

            <form method="POST" action="{% url 'blog_app:profile_update' pk=profile.pk %}">
                {% csrf_token %}
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="{% static 'blog_app/assets/image/name-icon.svg' %}" alt="name-icon" style="height: 1rem"/>
                    </div>
                    <input
                        class="form-control bg-light"
                        type="text"
                        name="{{ form.description.name }}"
                        value="{{ form.instance.description }}"
                        placeholder="Description"
                    />
                </div>
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="{% static 'blog_app/assets/image/name-icon.svg' %}" alt="name-icon" style="height: 1rem"/>
                    </div>
                    <input
                        class="form-control bg-light"
                        type="text"
                        name="{{ form.website.name }}"
                        value="{{ form.instance.website }}"
                        placeholder="Website"
                    />
                </div>

                <div class="d-flex justify-content-end mt-2">
                    <a class="btn btn-dark fuente me-1" href="{% url 'blog_app:profile_user' %}">Back</a>
                    <button class="btn btn-primary fuente" type="submit">Update</button>
                </div>
            </form>

        </div>
    </div>
{% endblock content_form %}