{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
    <div class="container mt-5 pt-5 vh-100">
        <div class="bg-white p-5 rounded-5 text-secondary shadow">
            <div class="text-center fs-4 fw-bold mb-4">
                <h2>Are you sure you want to delete your user "{{ user.username }}"?</h2>
            </div>
            <div class="text-center">
                <p class="text-muted">Deleting your user is irreversible and will remove associated content.</p>
            </div>
            <div class="d-flex justify-content-end">
                {% if user.is_superuser %}
                    <a class="btn btn-dark fuente" href="{% url 'blog_app:user_list' %}">Back</a>
                {% else %}
                    <a class="btn btn-dark fuente" href="{% url 'blog_app:profile_user' %}">Back</a>
                {% endif %}
                <form action="{% url 'blog_app:user_delete' pk=user.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger fuente ms-2" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content_form %}
