{% extends "blog_app/index.html" %}
{% load static %}

{% block content_form %}
    <div class="container vh-100">
        <div class="bg-white p-5 rounded-5 text-secondary shadow">
            <h1 class="text-center">Update User</h1>
            <form method="POST" action="{% url 'blog_app:user_update' pk=user.pk %}">
                {% csrf_token %}
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="{% static 'blog_app/assets/image/username-icon.svg' %}" alt="username-icon" style="height: 1rem"/>
                    </div>
                    <input
                        class="form-control bg-light"
                        type="text"
                        name="{{ form.username.name }}"
                        value="{{ form.instance.username }}"
                        placeholder="Username"
                    />
                </div>
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="{% static 'blog_app/assets/image/name-icon.svg' %}" alt="name-icon" style="height: 1rem"/>
                    </div>
                    <input
                        class="form-control bg-light"
                        type="text"
                        name="{{ form.first_name.name }}"
                        value="{{ form.instance.first_name }}"
                    />
                </div>
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="{% static 'blog_app/assets/image/name-icon.svg' %}" alt="name-icon" style="height: 1rem"/>
                    </div>
                    <input
                        class="form-control bg-light"
                        type="text"
                        name="{{ form.last_name.name }}"
                        value="{{ form.instance.last_name }}"
                    />
                </div>
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="{% static 'blog_app/assets/image/name-icon.svg' %}" alt="name-icon" style="height: 1rem"/>
                    </div>
                    <input
                        class="form-control bg-light"
                        type="email"
                        name="{{ form.email.name }}"
                        value="{{ form.instance.email }}"
                    />
                </div>
                <div class="input-group mt-4">
                    <div class="input-group-text bg-info">
                        <img src="{% static 'blog_app/assets/image/name-icon.svg' %}" alt="name-icon" style="height: 1rem"/>
                    </div>
                    <input
                        class="form-control bg-light"
                        type="date"
                        name="{{ form.date_of_birth.name }}"
                        value="{{ form.instance.date_of_birth|date:'Y-m-d' }}"
                        placeholder="YYYY-MM-DD"
                    />
                </div>

                <div class="d-flex justify-content-end mt-2">
                    <a class="btn btn-dark fuente me-1" href="{% url 'blog_app:profile_user' %}">Back</a>
                    <button class="btn btn-primary fuente" type="submit">Update</button>
                </div>
            </form>

        </div>
    </div>
{% endblock content_form %}